.change-list #result_list .responsive-description,
.change-list #result_list .responsive-title {
    color: var(--description-text);
    font-size: clamp(0.8rem, 1.4vw, 0.95rem);
    line-height: 1.5;
    content: attr(data-label);
        display: block;
        font-weight: bold;
        margin-right: auto;
        margin-bottom: 0.5rem;
}
/* Mobile-specific adjustments */
@media (max-width: 768px) {
    .change-list #result_list th,
    .change-list #result_list td {
        /*display: block;*/
        width: 60%;
        padding: 0.5rem;
    }
    
    .change-list #result_list tr {
        display: block;
        margin-bottom: 1rem;
    }
    
    .change-list #result_list thead {
        display: none;
    }
    
    /* Add data-label attributes for mobile view */
    .change-list #result_list .responsive-subject,
    .change-list #result_list .responsive-description,
    .change-list #result_list .responsive-title {
       
        white-space: normal;
    }

    .change-list #result_list .responsive-subject::before,
    .change-list #result_list .responsive-description::before {
        content: attr(data-label);
        display: block;
        font-weight: bold;
        margin-right: auto;
        margin-bottom: 0.5rem;
    }
    }